#App {
  height: 100%;
}
.home {
  height: 100%;
  .layout {
    .ant-layout-header {
      background-color: #FFF;
      padding: 0;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      position: relative;
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
      }
      .trigger:hover {
        color: #1890ff;
      }
    }
    .ant-layout-content {
      background-color: #FFF;
    }
    .logo {
      height: 32px;
      background: rgba(255,255,255,.2);
      margin: 16px;
    }
  }
}
